In [1]:
# import libraries
import numpy as np
import pandas as pd

In [3]:
df =pd.read_csv("netflix_titles.csv")

In [5]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4765,s4766,Movie,Nothing to Lose,Alexandre Avancini,"Petrônio Gontijo, Day Mesquita, Beth Goulart, ...",Brazil,"July 20, 2018",2018,PG,133 min,"Dramas, Faith & Spirituality, International Mo...",This biographical drama traces the rise to fam...
421,s422,Movie,Chhota Bheem: Dus Pe Dus,"Rajiv Chilaka, Owll Mina","Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2014,TV-Y7,63 min,Children & Family Movies,After a precious temple stone is stolen under ...
3371,s3372,Movie,Consequences,Ozan Açıktan,"Nehir Erdoğan, Tardu Flordun, İlker Kaleli, Se...",Turkey,"October 25, 2019",2014,TV-MA,106 min,"Dramas, International Movies, Thrillers",Secrets bubble to the surface after a sensual ...
3310,s3311,TV Show,Meet the Adebanjos,NaN,"Wale Ojo, Yetunde Oduwole, Andrea Aboagye, Dan...",United Kingdom,"November 4, 2019",2016,TV-PG,3 Seasons,"British TV Shows, International TV Shows, TV C...","In South London, tradition clashes with cultur..."
3893,s3894,TV Show,The Hateful Eight: Extended Version,Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",NaN,"April 25, 2019",2015,R,1 Season,TV Shows,Trapped at a stagecoach stop as a storm rages ...

In [7]:
df.shape

(8807, 12)

In [9]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [13]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [15]:
df["country"].value_counts().head(3)

country
United States     2818
India              972
United Kingdom     419
Name: count, dtype: int64

In [17]:
mode_country= df["country"].mode()[0]
mode_country

'United States'

In [19]:
df["country"]= df["country"].fillna(mode_country)

In [21]:
df["country"].isna().sum()

0

In [23]:
df["date_added"].value_counts().head(3)

date_added
January 1, 2020     109
November 1, 2019     89
March 1, 2018        75
Name: count, dtype: int64

In [25]:
mode_date = df["date_added"].mode()[0]
mode_date

'January 1, 2020'

In [27]:
df["date_added"]=df["date_added"].fillna(mode_date)

In [29]:
mode_rating=df["rating"].mode()[0]
mode_rating

'TV-MA'

In [31]:
df["rating"]=df["rating"].fillna(mode_rating)

In [33]:
df["rating"].isna().sum()

0

In [35]:
mode_duration=df["duration"].mode()[0]

In [37]:
mode_duration

'1 Season'

In [39]:
df["duration"]=df["duration"].fillna(mode_duration)

In [41]:
df["duration"].isna().sum()

0

In [43]:
df["director"]=df["director"].fillna("Not Mentioned")

In [45]:
df["director"].isna().sum()

0

In [47]:
df["cast"]=df["cast"].fillna("Not Mentioned")

In [49]:
df["cast"].isna().sum()

0

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8807 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8807 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [53]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [55]:
df=df[~df["rating"].str.contains("min")]

In [57]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [59]:
df["date_added"].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      dtype=object)

In [61]:
df["date_added"]=df["date_added"].str.replace(",","")

In [63]:
df["date_added"].unique()

array(['September 25 2021', 'September 24 2021', 'September 23 2021', ...,
       'December 6 2018', 'March 9 2016', 'January 11 2020'], dtype=object)

In [65]:
df["date_added"] = pd.to_datetime(df["date_added"], format="mixed")

In [67]:
df["date_added"].unique()

<DatetimeArray>
['2021-09-25 00:00:00', '2021-09-24 00:00:00', '2021-09-23 00:00:00',
 '2021-09-22 00:00:00', '2021-09-21 00:00:00', '2021-09-20 00:00:00',
 '2021-09-19 00:00:00', '2021-09-17 00:00:00', '2021-09-16 00:00:00',
 '2021-09-15 00:00:00',
 ...
 '2018-09-27 00:00:00', '2017-03-23 00:00:00', '2016-12-25 00:00:00',
 '2016-11-30 00:00:00', '2017-10-23 00:00:00', '2017-11-04 00:00:00',
 '2015-08-05 00:00:00', '2018-12-06 00:00:00', '2016-03-09 00:00:00',
 '2020-01-11 00:00:00']
Length: 1714, dtype: datetime64[ns]

In [69]:
df["year"]=df["date_added"].dt.year

In [71]:
df["month"]=df["date_added"].dt.month

In [75]:
df["day"]=df["date_added"].dt.day

In [77]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year,month,date,day
8182,s8183,TV Show,The Adventures of Figaro Pho,Not Mentioned,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",Australia,2020-01-01,2015,TV-Y7,2 Seasons,"Kids' TV, TV Comedies","Imagine your worst fears, then multiply them: ...",2020,1,2020-01-01,1
377,s378,Movie,Bartkowiak,Daniel Markowicz,"Józef Pawłowski, Zofia Domalik, Szymon Bobrows...",Poland,2021-07-28,2021,TV-MA,92 min,"Action & Adventure, International Movies","After his brother dies in a car crash, a disgr...",2021,7,2021-07-28,28
3241,s3242,TV Show,Nailed It! Holiday!,Not Mentioned,"Nicole Byer, Jacques Torres",United States,2019-11-22,2019,TV-PG,2 Seasons,Reality TV,"It's the ""Nailed It!"" holiday special you've b...",2019,11,2019-11-22,22
2577,s2578,Movie,Cracked Up: The Darrell Hammond Story,Michelle Esrick,Darrell Hammond,United States,2020-05-01,2018,TV-MA,97 min,Documentaries,"""Saturday Night Live"" star Darrell Hammond rev...",2020,5,2020-05-01,1
1149,s1150,TV Show,Yu-Gi-Oh!,Not Mentioned,"Dan Green, Eric Stuart, Amy Birnbaum, Darren D...",Japan,2021-03-31,2005,TV-Y7,1 Season,"Anime Series, Kids' TV",The lives of young Yugi Moto and his friends J...,2021,3,2021-03-31,31

In [79]:
df["genre"]=df["listed_in"].str.split(",").str[0]

In [81]:
df["genre"].value_counts().head(5)

genre
Dramas                    1600
Comedies                  1210
Action & Adventure         859
Documentaries              829
International TV Shows     774
Name: count, dtype: int64

In [103]:
df = df[df["cast"]!="Not Mentioned"]
df["lead_actor"]=df["cast"].str.split(",").str[0]

In [115]:
df["lead_actor"].value_counts().head(5)

lead_actor
Shah Rukh Khan        26
Akshay Kumar          23
David Attenborough    20
Adam Sandler          20
Amitabh Bachchan      20
Name: count, dtype: int64

In [ ]:
df.drop(["date_added","listed_in","cast"], axis=1, inplace=True)

In [124]:
df.sample(5)

,show_id,type,title,director,country,release_year,rating,duration,description,year,month,date,day,genre,lead_actor
56,s57,Movie,Naruto Shippuden the Movie: Blood Prison,Masahiko Murata,Japan,2011,TV-14,102 min,Mistakenly accused of an attack on the Fourth ...,2021,9,2021-09-15,15,Action & Adventure,Junko Takeuchi
4973,s4974,TV Show,Requiem,Not Mentioned,United Kingdom,2018,TV-MA,1 Season,"In the wake of a sudden tragedy, a London cell...",2018,3,2018-03-23,23,British TV Shows,Lydia Wilson
5087,s5088,Movie,Alejandro Riaño: Especial de stand up,Not Mentioned,Colombia,2018,TV-MA,60 min,Colombian comedian Alejandro Riaño discusses t...,2018,1,2018-01-10,10,Stand-Up Comedy,Alejandro Riaño
7687,s7688,Movie,P,Paul Spurrier,"United Kingdom, Thailand",2006,TV-MA,105 min,An orphan girl taught magic by her sick grandm...,2019,5,2019-05-31,31,Horror Movies,Suangporn Jaturaphut
1944,s1945,Movie,Mann,Indra Kumar,India,1999,TV-14,173 min,A smooth talker falls for a music teacher aboa...,2020,9,2020-09-28,28,Dramas,Aamir Khan

In [ ]:
df.drop(["show_id","description"], axis=1, inplace=True)

In [138]:
df.drop(["date"],axis=1,inplace=True)

In [140]:
df.sample(5)

,type,title,director,country,release_year,rating,duration,year,month,day,genre,lead_actor
5189,Movie,Pettersson and Findus 2,Ali Samadi Ahadi,Germany,2016,TV-G,82 min,2017,11,1,Children & Family Movies,Stefan Kurt
7096,Movie,Iron Cowboy: The Story of the 50.50.50,Jacob Schwab,United States,2018,TV-14,77 min,2019,7,19,Documentaries,James Lawrence
274,TV Show,Grace and Frankie,Not Mentioned,United States,2021,TV-MA,7 Seasons,2021,8,13,TV Comedies,Jane Fonda
4784,Movie,White Fang,Alexandre Espigares,"France, Luxembourg, United States",2018,TV-PG,88 min,2018,7,6,Children & Family Movies,Nick Offerman
2172,Movie,Killing Hasselhoff,Darren Grant,United States,2017,R,80 min,2020,8,1,Comedies,Ken Jeong

In [144]:
df.to_csv("cleaned_netflix_data.csv")